
.idea/vcs.xml
.idea/modules.xml
.idea/simpool.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
common/__pycache__/database.cpython-38.pyc
.idea/inspectionProfiles/Project_Default.xml
common/__pycache__/database.cpython-38.pyc
