a, a:hover, a:focus, a:active {
    text-decoration: none!important;
    color: inherit;
}

.page-header {
  background-color: #F9812A;
}

body {
  background-color: #848484;
}

.clickme {
    background-color: #F9812A;
    padding: 1vw 2vw;
    color: white;
    text-decoration: none!important;
    font-weight:bold;
    border-radius:1vw;
}

.clickme-header {
    background-color: #F9812A;
    color: white;
    text-decoration: none!important;
    font-weight:bold;
    padding: .5vw .5vw;
    border-radius:1vw;
    border-style:solid;
    border-width: thin;
	border-color:#848484;

}
.card {
    width: 50vw;!important;
    background-color: #848484;
    color: white;
    text-align:center;
    align: center;
    font-size: 2.5vw;
    border-color: white;
}

a.nav-link {
  color: white;
  font-size: 2vw;
}

a.nav-link.active {
  background-color: #F9812A;
  font-size: 2vw;
}

.login-link {
  color: #F9812A;
  align: center;
   font-size:1.5vw;

}

.register-link {
  color: #F9812A;
  align : center
}

.logged-in {
  color: white;
  font-size:1vw;
}

.page-title {
  text-align: center;
  color: #848484;
  font-size:7vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contests_header {
  color: #F9812A;
  font-weight: bold;
  text-align: center;
  font-size: 6vw!important;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-pills .nav-link.active {
    background-color: #F9812A!important;
}

.lineup-entry{
  color: #F9812A;
}

select{
  text-align: center;
  color: #F9812A;
}


.note {
  text-align: center;
  color: #F9812A;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: white;
}

p {
  text-align: center;
  color: white;
}

.btn-orange {
  background-color: #F9812A;
  color: white;
}

li {
  color: white!important;
    background-color: #848484!important;

}
