a, a:hover, a:focus, a:active {
    text-decoration: none!important;
    color: white;
	}

.page-header {
  background-color: #F9812A;
}

body {
    background: linear-gradient(#C7CED6 80%,#F9812A);
}

.clickme {
    background-color: #F9812A;
    padding: .5vw .5vw;
    color: white;
    text-decoration: none !important;
    font-weight:bold;
    border-radius:1vw;
}

.clickme-header {
    color: white;
    font-weight:bold;
    padding: .5vw .5vw;
    border-radius:1vw;
    text-decoration: none !important;
    text-decoration-color: white !important;
    border-style:solid;
    border-width: thin;
	border-color:#e9ecef;

}
.jumbotron{
    padding: 1rem 1rem !important;
    margin-bottom: 0rem !important;
    background: linear-gradient(#F9812A, #C7CED6);
    color: white;
}
.clickme-lineup {
    background-color: #F9812A;
    color: white;
    text-decoration: none !important;
	border-color:#e9ecef;
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
}
.clickme-delete {
    background-color: red;
    color: white;
    text-decoration: none !important;
	border-color:#e9ecef;
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
}
.card {
    width: 80vw;!important;
    background-color: #e9ecef;
    color: #F9812A;
    text-align:center;
    align: center;
    font-size: 2vw;
    border-color: white;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

a.nav-link {
  color: #F9812A;
  font-size: 2vw;
}

a.nav-link.active {
  background-color: #F9812A;
  font-size: 2vw;
}

.login-link {
  color: #F9812A;
  align: center;
   font-size:1.5vw;

}

.register-link {
  color: #F9812A;
  align : center
}

.logged-in {
  color: white;
  font-size:1rem;
    font-weight: bold;

}

.page-title {
  text-align: center;
  color: white;
  font-size:10vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contests_header {
  color: #F9812A;
  font-weight: bold;
  text-align: center;
  font-size: 3vw!important;
  font-family: Arial, Helvetica, sans-serif;
}

.lineups_header {
  color: #F9812A;
  font-weight: bold;
  text-align: center;
  font-size: 4vw!important;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-pills .nav-link.active {
    background-color: #F9812A!important;
}

.lineup-entry{
  color: #F9812A;
}

select{
  text-align: center;
  color: #F9812A;
}


.note {
  text-align: center;
  color: #F9812A;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: #F9812A;
}

p {
  text-align: center;
  color: #F9812A;
}

.btn-orange {
  background-color: #F9812A;
  color: white;
}

li {
  color: #F9812A!important;
    font-size: 1vw!important;
    background-color: #e9ecef!important;

}

table {
color: #F9812A;
  text-align: center;
  font-size: 1.5vw!important;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #F9812A;
}

.contests_title {
  color: #F9812A;
  font-weight: bold;
  text-align: center;
  font-size: 3vw!important;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even){background-color: #f2f2f2;}

.entries_header {
  padding-top: .75vw;
  padding-bottom: .75vw;
    padding-left: .75vw;
  padding-right: .75vw;
  text-align: center;
  background-color: #F9812A;
  color: white;
    border: 1px solid black;
}

.entries_row {
  border: 1px solid black;
    padding-top: .75vw;
  padding-bottom: .75vw;
    padding-left: .75vw;
  padding-right: .75vw;
}

.contest_table {
color: #F9812A;
  text-align: center;
  font-size: 2vw !important;
  font-family: Arial, Helvetica, sans-serif;
  border: none !important;
  border-radius: 13px;

  }

.contest_tableheader {
  padding-top: .75vw;
  padding-bottom: .75vw;
    padding-left: .75vw;
  padding-right: .75vw;
  text-align: center;
   font-size: 1vw !important;
  border-radius: 13px;
    border: none !important;
  background-color: #F9812A;
  color: white;
}

.contest_tablerow {
    padding-top: .75vw;
  padding-bottom: .75vw;
    padding-left: .75vw;
  padding-right: .75vw;
    font-size: 2vw !important;
    text-align: center;
  border-radius: 13px;
    border: none !important;
}
