{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <a class="clickme-header" href="/login">Login</a>
    <br>
    <br><a class="clickme-header" href="/register">Register</a>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">SIMPOOL</h1></a>
    <br>
</div>
<br>
<div class = "contests">
    <h1 class = "contests_header">CONTESTS</h1>
    <br>
    {% for contest in golf %}
<div class="card mx-auto">
    <h2 class="card-title">Contest Name: {{contest.Contest_Name}}</h2>
    <h4 class="card-subtitle mb-2">{{contest.Course}}</h4>
    <hr>
    <p class="card-text">Start Date: {{contest.Start_Date}}</p>
    <p class="card-text">Buy In: ${{contest.Buy_In}}</p>
    <p class="card-text">Payout Type: {{contest.Payout_Type}}</p>
        <a class="clickme" href="/login">Login to Enter Contest</a>
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}