{% extends "base.html" %}
{% block content %}
<header class="page-header">
    <h6 class = "logged-in">Welcome Back, {{username}}</h6>
    <h6 class = "logged-in">Balance: ${{balance}}</h6>
    <br><a href="/addfunds" class="clickme-header">Add Funds</a>
    <br>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">FANTASY SCRAMBLE</h1></a>
    <br>
    <hr>
</header>
<br>
<nav class="nav nav-pills nav-justified justify-content-center">
    <a class="nav-link active" href="/">Contest Lobby</a>
  <a class="nav-link" href="/upcoming">Upcoming</a>
  <a class="nav-link" href="/live">Live</a>
  <a class="nav-link" href="/completed">Completed</a>
</nav>
<br>
<div class = "contests">
    <h1 class = "contests_header">CONTESTS</h1>
    <br>
    {% for contest in golf %}
<div class="card mx-auto">
    <h3 class="card-title">Contest Name: {{contest.Contest_Name}}</h3>
    <h5 class="card-subtitle mb-2">{{contest.Course}}</h5>
    <p class="card-text">Start Date: {{contest.Start_Date}}</p>
    <p class="card-text">Buy In: ${{contest.Buy_In}}</p>
    <p class="card-text">Payout Type: {{contest.Payout_Type}}</p>
    <a class="clickme" href="/contests/{{contest.Contest_Id}}">Enter Contest</a>
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}