{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <h6 class = "logged-in">Welcome Back, {{username}}</h6>
    <h6 class = "logged-in">Balance: ${{balance}}</h6>
    <br><a href="/addfunds" class="clickme-header">Add Funds</a>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">SIMPOOL</h1></a>
    <br>
</div>
<br>
<nav class="nav nav-pills nav-justified justify-content-center">
    <a class="nav-link active" href="/">Contest Lobby</a>
  <a class="nav-link" href="/upcoming">Upcoming</a>
  <a class="nav-link" href="/live">Live</a>
  <a class="nav-link" href="/completed">Completed</a>
</nav>
<br>
<div class = "contests">
    <h1 class = "contests_header">LOBBY</h1>
    <br>
    {% for contest in golf %}
<div class="card mx-auto">
    <h2 class="card-title">Contest Name: {{contest.Contest_Name}}</h2>
    <h4 class="card-subtitle mb-2">{{contest.Course}}</h4>
    <hr>
    <table class="contest_table">
            <tr>
                <th class="contest_tableheader">Start Date</th>
                <th class="contest_tableheader">Buy-In</th>
                <th class="contest_tableheader">Payout Type</th>
            </tr>
            <tr>
                <td class="contest_tablerow">{{contest.Start_Date}}</td>
                <td class="contest_tablerow">{{contest.Buy_In}}</td>
                <td class="contest_tablerow">{{contest.Payout_Type}}</td>
            </tr>
        </table>
    <a class="clickme" href="/contests/{{contest.Contest_Id}}">Enter Contest</a>
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}