{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-left">
<a class="clickme-header" href="/login">Login</a>
	</div>
    <div class="col-middle">
    </div>
    <div class="col-right">
<a class="clickme-header" href="/register">Register</a>
    </div>
	</div>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title"><img src="{{url_for('static', filename='SIMPOOL.png')}}" /></h1></a>
    <br>    <br>

</div>
<br>
<div class = "contests">
    <h1 class = "contests_header">LOBBY</h1>
    <br>
    {% for contest in golf %}
<div class="card mx-auto">
    <h2 class="card-title">Contest Name: {{contest.Contest_Name}}</h2>
    <h4 class="card-subtitle mb-2">{{contest.Course}}</h4>
    <hr>
    <table class="contest_table">
            <tr>
                <th class="contest_tableheader">Start Date</th>
                <th class="contest_tableheader">Buy-In</th>
                <th class="contest_tableheader">Payout Type</th>
            </tr>
            <tr>
                <td class="contest_tablerow">{{contest.Start_Date}}</td>
                <td class="contest_tablerow">${{contest.Buy_In}}</td>
                <td class="contest_tablerow">{{contest.Payout_Type}}</td>
            </tr>
        </table>
        <a class="clickme" href="/login">Login to Enter Contest</a>
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
