{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-left">
    <h6 class = "logged-in">Welcome Back, {{username}}</h6>
    <h6 class = "logged-in"><a href="/addfunds">Balance: ${{balance}}</a></h6>
	</div>
    <div class="col-middle">
    </div>
    <div class="col-right">
    <a href="/logout" class="clickme-header">Logout</a> 
    </div>
	</div>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title"><img src="{{url_for('static', filename='SIMPOOL.png')}}" /></h1></a>
    <br>    <br>

</div>
<br>
<h1 class = "contests_header" align="center">You are currently located in a state were you cannot play SIMPOOL. For more information please refer to this link.</h1>

<br>
<a href="/" style = "text-decoration: none;"><h2 class = "contests_header" align="center">Please Click here to return to the home page</h2></a>
{% endblock %}
