{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <h6 class = "logged-in">Welcome Back, {{username}}</h6>
    <h6 class = "logged-in">Balance: ${{balance}}</h6><a href="/addfunds" class="clickme-header">Add Funds</a>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">SIMPOOL</h1></a>
    <br>
</div>
<br>
<br>
<nav class="nav nav-pills nav-justified justify-content-center">
    <a class="nav-link" href="/">Contest Lobby</a>
  <a class="nav-link" href="/upcoming">Upcoming</a>
  <a class="nav-link active" href="/live">Live</a>
  <a class="nav-link" href="/completed">Completed</a>
</nav>
<br>
<br>
<div class = "contests">
    <h1 class = "contests_header">LIVE</h1>
    <br>
    <br>
    <h2 class = "note">{{text}}</h2>
	{% for lineup in live %}
     <div class="card mx-auto" style= "width: 80vw;">
    <h2 class="card-title">Contest Name: {{lineup.Contest_Name}}</h2>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">Golfer 1: {{lineup.Golfer_1}}</li>
    <li class="list-group-item">Golfer 2: {{lineup.Golfer_2}}</li>
    <li class="list-group-item">Golfer 3: {{lineup.Golfer_3}}</li>
    <li class="list-group-item">Golfer 4: {{lineup.Golfer_4}}</li>
    <li class="list-group-item">Golfer 5: {{lineup.Golfer_5}}</li>
    <li class="list-group-item">Score: {{lineup.Score}}</li>
        </ul>
         <a class="clickme-lineup" href = "/contest_entries/{{lineup.Contest_Id}}">View All Entries</a>

        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}