{% extends "base.html" %}
{% block content %}
<header class="page-header" xmlns="http://www.w3.org/1999/html">
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">SIMPOOL</h1></a>
    <br>
    <br>
</header>
<br>
<br>
<br>
<div class="container page-form">
    <form id="login-form" xmlns="http://www.w3.org/1999/html" action = "/loginvalid" method = "post">
    <div class="form-group">
        <label for ="email">Email</label>
        <input type="text" class = "form-control form-control-lg" id="email" name="email">
    </div>
    <div class="form-group">
        <label for = "password">Password</label>
        <input type="password" class = "form-control form-control-lg" id="password" name="password">
    </div>
        <button type="submit" class="btn btn-orange">Sign In</button>
    </form>
</div>
{{text}}
    <br><p>Don't Have An Account <a class="register-link" href="/register">Click Here</a> To Create One</p>
{% endblock %}