{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-left">
<a class="clickme-header" href="/login">Login</a>
	</div>
    <div class="col-middle">
    </div>
    <div class="col-right">
<a class="clickme-header" href="/register">Register</a>
    </div>
	</div>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title"><img src="{{url_for('static', filename='SIMPOOL.png')}}" /></h1></a>
    <br>    <br>

</div>
<br>
<br>
<br>
<h2>You Must Be Logged In to View {{type}} Contests!</h2>
<h3><a href = "/">Return To Home Page</a></h3>
{% endblock %}