{% extends "base.html" %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <a href="/" style = "text-decoration: none;"><h1 class="page-title"><img src="{{url_for('static', filename='simpool orange.png')}}align="middle" />SIMPOOL</h1></a>
    <br>
</div>
<br>
<br>
<br>
<div class="container page-form">
    <form id="register-form" xmlns="http://www.w3.org/1999/html" action = "/registeruser" method = "post">
    <div class="form-group">
        <label for ="email">Email</label>
        <input type="text" class = "form-control form-control-lg" id="email" name="email">
    </div>
        <div class="form-group">
        <label for ="username">Username</label>
        <input type="text" class = "form-control form-control-lg" id="username" name="username">
    </div>
        <div class="form-group">
        <label for ="name">Full Name</label>
        <input type="text" class = "form-control form-control-lg" id="name" name="name">
    </div>
    <div class="form-group">
        <label for = "password">Password</label>
        <input type="password" class = "form-control form-control-lg" id="password" name="password">
    </div>
        <button type="submit" class="btn btn-orange">Register</button>
    </form>
    <br><p>Already Have An Account? <a class="register-link" href="/login">Click Here</a> To Log In</p>
</div>
{% endblock %}