{% extends "base.html" %}
{% block content %}
<header class="page-header">
    <h6 class = "logged-in">Welcome Back, {{username}}</h6>
    <h6 class = "logged-in">Balance: ${{balance}}</h6>
    <br><a href="/addfunds" class="clickme-header">Add Funds</a>
    <br>
    <a href="/" style = "text-decoration: none;"><h1 class="page-title">SIMPOOL</h1></a>
    <br>
    <br>
    <hr>
</header>
<br>
<br>
<nav class="nav nav-pills nav-justified justify-content-center">
    <a class="nav-link" href="/">Contest Lobby</a>
  <a class="nav-link active" href="/upcoming">Upcoming</a>
  <a class="nav-link" href="/live">Live</a>
  <a class="nav-link" href="/completed">Completed</a>
</nav>
<br>
<br>
<div class = "contests">
    <h1 class = "contests_header">UPCOMING CONTESTS</h1>
    <br>
    <br>
        <h2 class = "note">{{text}}</h2>

    {% for lineup in upcoming %}
    <div class="card mx-auto" style= "width: 30vw;">
    <h4 class="card-title">{{lineup.Contest_Name}}</h3>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">Golfer 1: {{lineup.Golfer_1}}</li>
    <li class="list-group-item">Golfer 2: {{lineup.Golfer_2}}</li>
    <li class="list-group-item">Golfer 3: {{lineup.Golfer_3}}</li>
    <li class="list-group-item">Golfer 4: {{lineup.Golfer_4}}</li>
    <li class="list-group-item">Golfer 5: {{lineup.Golfer_5}}</li>
    <li class="list-group-item"> <a class="clickme-lineup" href="/editlineup/{{lineup._id}}">Edit Lineup</a></li>
        </ul>
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}